@import './base.css';
@import "tailwindcss";

@theme {
  --font-display: "Public Sans", "sans-serif";
  --font-nav: "Lato", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-peach: oklch(0.9341 0.033 63.03);
  --color-brown-300: oklch(0.3475 0.046 52.27);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}